@import url('https://fonts.googleapis.com/css?family=Lato');
/*import fonts from google fonts*/


.header {
    height: 100px;
    width: auto;
    margin-bottom: 20px;

}

body {
    background-color: #f1f1f1;
}


.logo {
    height: 60px;
    width: 250px;
    margin: 40px;
    float: left;
    font-size: 60px;
}

.Nav {
    height: 90px;
    width: 600px;
    margin: 40px;
    float: right;
    font-size: 30px;
    padding: 5px;
}

.banner_1 {
    height: 260px;
    width: 96%;
    margin-top: 1x;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    order: solid 1px lime;
}

.banner_2 {
    height: 260px;
    width: 
}

    
.links {
    margin-top: 40px;
    float: right;
    color: gray;
}

.links a {
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.links a:hover{
    color: grey;
}