@import url('https://fonts.googleapis.com/css?family=Lato');
/*import fonts from google fonts*/


.header {
    height: 150px;
    background-color: yellow;
    width: auto;
    margin-bottom: 20px;

}

.logo {
    height: 60px;
    width: 250px;
    margin: 40px;
    background-color: red;
    float: left;
    font-size: 60px;
}

.Nav {
    height: 60px;
    width: 500px;
    margin: 40px;
    background-color: red;
    float: right;
    font-size: 20px;
    padding: 5px;
}

.banner_1 {
    height: 450px;
    width: 96%;
    margin-top: 1x;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    order: solid 1px lime;
}

::-webkit-scrollbar {
    width: 0px; 
    height: 20px;
    background: transparent;