@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
/*import fonts from google fonts*/


.header {
    height: 150px;
    width: auto;
    margin-bottom: 20px;
    background-color:#b4e3e0;
    color: white;
    padding-top: 40px;
}


.logo {
    height: 60px;
    width: 920px;
    margin: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 60px;
    font-family: 'Lato', sans-serif; 
}

/* make the banner remain selected when clicked on + create new thumbnails to fit 920px  */
.banner_1 {
    height: 145px;
    width: 920px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

/* resise all elements so that they fit on the page */
.img_ban {
    width: 215px;
    float: left;
    height: 130px;
    margin-right: 20px;
    border-bottom: solid 10px #ffffff;
}

.img_ban_activ {
    width: 215px;
    float: left;
    height: 130px;
    margin-right: 20px;
    border-bottom: solid 10px #b4e3e0;
}

.img_ban_1 {
    width: 215px;
    float: left;
    height: 130px;
    margin-right: 0px;
}



/* add the gallery */
.banner_2 {
    width: 920px;
    height: 250px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}

.text_box {
    height: 200;
    width: 215px;
    margin-right: 20px;
    float: left;
    font-family: 'Lato', sans-serif;
}

.text_box_1 {
    height: 200px;
    width: 215px;
    float: left;
    font-family: 'Lato', sans-serif;
}

.text_box_2 {
    height: 250px;
    width: 920px;
    margin-left: 36px;
    float: left;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.img_ban_2 { 
    height: 300px;
    margin-top: 20px;
    width: 920px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.banner_3 {
    height: 260px;
    width: 100%;
    background-color:#b4e3e0;
    color: white;
    margin-top: 20px;
    padding-top: 10px;
}

.About {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 45px;
    font-family: 'Lato', sans-serif;
}

.about_text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lato', sans-serif;
    width: 920px;
}

    