@import url('https://fonts.googleapis.com/css?family=Lato');
/*import fonts from google fonts*/


.header {
    height: 150px;
    background-color: white;
    width: auto;
    margin-bottom: 20px;

}

.logo {
    height: 60px;
    width: 250px;
    margin: 40px;
    background-color: white;
    float: left;
    font-size: 60px;
}

.Nav {
    height: 100px;
    width: 600px;
    margin: 40px;
    background-color: white;
    float: right;
    font-size: 30px;
    padding: 5px;
}

.banner_1 {
    height: 600px;
    margin-top: 20px;
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
    background-color: aquamarine;
    padding: 20px;
}

.porf_1 {
    height: 580px;
    width: 455px;
    background-color: aqua;
    margin-right: 12.5px;
    float: left;
    overflow: hidden;
}


.porf_2 {
    height: 580px;
    width: 455px;
    background-color: aqua;
    float: left;
}



    
.links {
    margin-top: 40px;
    float: right;
    color: gray;
}

.links a {
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.links a:hover{
    color: grey;
}